* {
    font-family: monospace;
    font-size: 20px;
}

@media (max-width: 768px) { /* xs */
    td:nth-child(1), td:nth-child(2) {
        display: none;
    }

    tr:nth-child(odd) {
        background: lightgray;
    }

    #file-browser {
        width: 100%;
    }

    table {
        width: 100%;
    }

    #qrcode {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

@media (min-width: 768px) { /* sm */
    #qrcode {
        position: fixed;
        top: 50px;
        right: 50px;
        width: 256px;
        height: 256px;
    }
}

#file-browser {
    display: inline-block;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

td {
    padding-left: 10px;
}

.hidden {
    display: none;
}

.showen {
    display: block;
}

.btn {
    cursor: pointer;
    color: navy;
}

.q-item:hover {
    background: gold;
}
